body, html {
    margin: 0;
    padding: 0;
    height: 100%;
}

.container {
    height: 50%;
    overflow: hidden;
}

.container:nth-child(1),
.container:nth-child(2),
.container:nth-child(3) {
    display: flex;
}

.container:nth-child(4),
.container:nth-child(5) {
    display: grid;
}

.container h1 {
    margin-bottom: 10px;
}

#requirements-list {
    overflow-y: auto;
}

form {
    margin-top: auto;
    display: flex;
    align-items: center;
}

form input[type="text"] {
    flex: 1;
    margin-right: 10px;
}

form button {
    flex-shrink: 0;
}
